.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 0;
  overflow: visible;
}

.wordWrap {
  display: inline-flex;
  overflow: hidden;
}

.word {
  display: inline-block;
}

.space {
  display: inline-block;
  width: 0.28em;
}
